.Dictionary header {
  background-color: rgba(176, 175, 177, 0.678);
  margin: 50px 18% 40px 18%;
  text-align: center;
}

.Dictionary header .subtitle {
  font-size: 18px;
}

.Dictionary header input {
  border-radius: 3px;
  border: 1px solid slategrey;
  width: 285px;
  padding: 5px 10px;
  color: rgb(125, 125, 125);
  margin: 10px 0 0 0;
}

.Dictionary header .hint {
  font-size: 12px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.543);
}

.Dictionary section {
  margin: 30px 18% 20px 18%;
}

@media (max-width: 992px) {
  .Dictionary header,
  .Dictionary section {
    margin: 50px 5% 25px 5%;
  }
}

@media (max-width: 767px) {
  .Dictionary header .subtitle {
    font-size: 14px;
  }
}
