.Phonetics .icon {
  background-color: rgba(176, 175, 177, 0.535);
  font-size: 20px;
  border-radius: 50%;
  padding: 7px;
  margin-right: 8px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetics .icon:hover {
  background-color: rgba(127, 125, 128, 0.535);
}
